.miblog{
  background: #0c0c0c;
  font-size: 20px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(4, 4, 4, 0.38);
  z-index: 1;
  text-align: center;
}
.miblog::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(to right, #F329C7, #7B004F);/*degradado*/;
  z-index: -1;
  transition: 0.5s;
}
.miblog::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.miblog:hover::before{
  height: 180%;
}
.miblog-txt {
  color: #FFF;
  font-family: 'Leckerli One', cursive;
}
